<div>Question: <%= @question %> </div>

<div>
<%= for card <- @answers do %>
    <div><%= [card] %></div>
<% end %>
</div>

<button phx-click="draw_question">
    Draw Question
</button>

<button phx-click="draw_answer">
    Draw Answer
</button>

<hr>

<%= for name <- @players do %>
    <em><%= [name] %></em> <br>
<% end%>


